tools/Ocelli.OpenClickBank.Scraper/v1.3/XSDs/Products.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:cb="http://www.clickbank.com/api">

  <xs:element name="Image" type="imageBean"/>

  <xs:element name="Product" type="productData"/>

  <xs:element name="commission" type="productCommission"/>

  <xs:element name="contractBean" type="contractBean"/>

  <xs:element name="physical" type="physicalPricing"/>

  <xs:element name="pitch_pages" type="pitchPages"/>

  <xs:element name="price" type="price"/>

  <xs:element name="pricing" type="pricing"/>

  <xs:element name="product_approval_status" type="productApprovalStatus"/>

  <xs:element name="recurring" type="recurringPricing"/>

  <xs:element name="standard" type="standardPricing"/>

  <xs:element name="thank_you_pages" type="thankYouPages"/>

  <xs:complexType name="productData">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="status" type="activeStatus" minOccurs="0"/>
      <xs:element name="digital" type="xs:boolean"/>
      <xs:element name="physical" type="xs:boolean"/>
      <xs:element name="digitalRecurring" type="xs:boolean"/>
      <xs:element name="physicalRecurring" type="xs:boolean"/>
      <xs:element name="site" type="xs:string" minOccurs="0"/>
      <xs:element name="created" type="xs:string" minOccurs="0"/>
      <xs:element name="updated" type="xs:string" minOccurs="0"/>
      <xs:element name="approval_status" type="productApprovalStatus" minOccurs="0"/>
      <xs:element name="language" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="post_purchase_description" type="xs:string" minOccurs="0"/>
      <xs:element name="image" type="imageBean" minOccurs="0"/>
      <xs:element ref="thank_you_pages" minOccurs="0"/>
      <xs:element ref="pitch_pages" minOccurs="0"/>
      <xs:element ref="commission" minOccurs="0"/>
      <xs:element name="pricings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element ref="pricing" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="contracts" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="contract" type="contractBean" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="categories" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="category" type="productCategory" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="disable_geo_currency" type="xs:boolean" minOccurs="0"/>
      <xs:element name="allow_currency_change" type="xs:boolean" minOccurs="0"/>
      <xs:element name="us_tax_exempt" type="xs:boolean" minOccurs="0"/>
      <xs:element name="revenue_recognition" type="revRec" minOccurs="0"/>
      <xs:element name="reduced_upsell_markup" type="xs:boolean" minOccurs="0"/>
      <xs:element name="skip_confirmation_page" type="xs:boolean" minOccurs="0"/>
      <xs:element name="admin_download_url" type="xs:string" minOccurs="0"/>
      <xs:element name="admin_mobile_download_url" type="xs:string" minOccurs="0"/>
      <xs:element name="no_commission" type="xs:boolean"/>
      <xs:element name="sale_refund_days_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="rebill_refund_days_limit" type="xs:int" minOccurs="0"/>
      <xs:element name="admin_restrict_flexible_refund" type="xs:boolean" minOccurs="0"/>
      <xs:element name="commission_tier_override" type="xs:boolean"/>
      <xs:element name="deliveryMethod" type="xs:string" minOccurs="0"/>
      <xs:element name="deliverySpeed" type="xs:string" minOccurs="0"/>
      <xs:element name="maxQuantity" type="xs:int" minOccurs="0"/>
      <xs:element name="isPartOfOrderBump" type="xs:boolean"/>
      <xs:element name="isInitialOfOrderBump" type="xs:boolean"/>
      <xs:element name="isProductOfOrderBump" type="xs:boolean"/>
    </xs:sequence>
    <xs:attribute name="sku" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="productApprovalStatus">
    <xs:sequence>
      <xs:element name="ticket_id" type="xs:int" minOccurs="0"/>
      <xs:element name="status" type="status" minOccurs="0"/>
      <xs:element name="last_action_performed_by" type="role" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="imageBean">
    <xs:sequence>
      <xs:element name="id" type="xs:int" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="imageType" minOccurs="0"/>
      <xs:element name="approved" type="xs:boolean" minOccurs="0"/>
      <xs:element name="path" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="thankYouPages">
    <xs:sequence>
      <xs:element name="desktop" type="xs:string" minOccurs="0"/>
      <xs:element name="mobile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pitchPages">
    <xs:sequence>
      <xs:element name="desktop" type="xs:string" minOccurs="0"/>
      <xs:element name="mobile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="productCommission">
    <xs:sequence>
      <xs:element name="purchase" type="xs:decimal" minOccurs="0"/>
      <xs:element name="rebill" type="xs:decimal" minOccurs="0"/>
      <xs:element name="no_rebill_commission" type="xs:boolean"/>
      <xs:element name="commission_tier_override" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="pricing">
    <xs:sequence>
      <xs:element ref="standard" minOccurs="0"/>
      <xs:element ref="recurring" minOccurs="0"/>
      <xs:element ref="physical" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="currency" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="standardPricing">
    <xs:sequence>
      <xs:element ref="price" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="price">
    <xs:sequence>
      <xs:element name="native_price" type="xs:decimal" minOccurs="0"/>
      <xs:element name="usd" type="xs:decimal" minOccurs="0"/>
      <xs:element name="usd_with_fees" type="xs:decimal" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="recurringPricing">
    <xs:sequence>
      <xs:element ref="price" minOccurs="0"/>
      <xs:element name="frequency" type="recurringFrequency" minOccurs="0"/>
      <xs:element name="duration" type="xs:int" minOccurs="0"/>
      <xs:element name="trial_days" type="xs:int" minOccurs="0"/>
      <xs:element name="pre_rebill_override" type="xs:boolean"/>
      <xs:element name="pre_rebill_leadtime" type="xs:int" minOccurs="0"/>
      <xs:element name="recurringTitle" type="xs:string" minOccurs="0"/>
      <xs:element name="recurringDescription" type="xs:string" minOccurs="0"/>
      <xs:element name="frequencyValue" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="physicalPricing">
    <xs:sequence>
      <xs:element name="shipping_profile" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="contractBean">
    <xs:sequence>
      <xs:element name="productId" type="xs:int" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="owner" type="xs:string" minOccurs="0"/>
      <xs:element name="partner" type="xs:string" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:int"/>
    <xs:attribute name="status" type="contractStatus"/>
  </xs:complexType>

  <xs:simpleType name="activeStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="INACTIVE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="APPROVAL_REQUIRED"/>
      <xs:enumeration value="PENDING_APPROVAL"/>
      <xs:enumeration value="UNDER_REVIEW"/>
      <xs:enumeration value="ACTION_REQUIRED"/>
      <xs:enumeration value="APPROVED"/>
      <xs:enumeration value="DISAPPROVED"/>
      <xs:enumeration value="INACTIVE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="role">
    <xs:restriction base="xs:string">
      <xs:enumeration value="VENDOR"/>
      <xs:enumeration value="CUSTOMER"/>
      <xs:enumeration value="CBCSR"/>
      <xs:enumeration value="CBSYSTEM"/>
      <xs:enumeration value="USER"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="imageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PRODUCT"/>
      <xs:enumeration value="BANNER"/>
      <xs:enumeration value="BANNER_CLASSIC"/>
      <xs:enumeration value="BANNER_NEW"/>
      <xs:enumeration value="BANNER_BG"/>
      <xs:enumeration value="CUSTOM_BANNER"/>
      <xs:enumeration value="CUSTOM_BANNER_BG"/>
      <xs:enumeration value="CUSTOM_ORDERFORM"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="recurringFrequency">
    <xs:restriction base="xs:string">
      <xs:enumeration value="WEEKLY"/>
      <xs:enumeration value="BI_WEEKLY"/>
      <xs:enumeration value="MONTHLY"/>
      <xs:enumeration value="QUARTERLY"/>
      <xs:enumeration value="HALF_YEARLY"/>
      <xs:enumeration value="YEARLY"/>
      <xs:enumeration value="MONTHS"/>
      <xs:enumeration value="WEEKS"/>
      <xs:enumeration value="DAYS"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="contractStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PENDING_START"/>
      <xs:enumeration value="PENDING_APPROVAL"/>
      <xs:enumeration value="ACTIVE"/>
      <xs:enumeration value="TERMINATED"/>
      <xs:enumeration value="TERMINATION_REQUESTED"/>
      <xs:enumeration value="EXPIRED"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="productCategory">
    <xs:restriction base="xs:string">
      <xs:enumeration value="EBOOK"/>
      <xs:enumeration value="SOFTWARE"/>
      <xs:enumeration value="GAMES"/>
      <xs:enumeration value="AUDIO"/>
      <xs:enumeration value="VIDEO"/>
      <xs:enumeration value="MEMBER_SITE"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="revRec">
    <xs:restriction base="xs:string">
      <xs:enumeration value="LD"/>
      <xs:enumeration value="VD"/>
      <xs:enumeration value="LM"/>
      <xs:enumeration value="LMA"/>
      <xs:enumeration value="LMID"/>
      <xs:enumeration value="VM"/>
      <xs:enumeration value="I"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>

